<launch>      

<node pkg="turtles" exec="broadcaster" name="broadcaster1" output="screen">
	<param name="turtlename" value="turtle1"/>
	<remap from="/turtle1/pose" to="/t1/pose"/>
</node>

<node pkg="turtles" exec="broadcaster" name="broadcaster2" output="screen">
	<param name="turtlename" value="turtle2"/>
	<remap from="/turtle2/pose" to="/t2/pose"/>
</node>

</launch>
